<div class="px-5">
    <div class="pt-24">
        <h1 class="card-title astro-5Q5CFLET pb-6">Contact Us</h1>
    </div>
    <div>
        <span
            ><p class="pb-3 pt-2"></p>
            Telephone Number:
        </span>
    </div>
    <p>Mystical Ilang-ilang (Main Building): (02) 89615796</p>
    <p>Mystical Sampaguita (Elementary Building): (02) 89615968</p>
    <p>Mystical Do単a Helen (New Building): (02) 89839605</p>
    <p>Mystical New Telephone: (02) 85290633</p>

    <div>
        <span><p class="pb-3 pt-7">Cellphone Number:</p></span>
        <p>Mystical Ilang-ilang (Main Building): (02) 89615796</p>
        <p>Mystical Sampaguita (Elementary Building): (02) 89615968</p>
        <p>Mystical Do単a Helen (New Building): (02) 89839605</p>
        <p>Mystical New Telephone: (02) 85290633</p>
    </div>
    <div>
        <span><p class="pb-3 pt-7">Our Address::</p></span>
        <p>
            Mystical Ilang-ilang (Main Building): 15 Ilang-ilang St., Almar
            Subd., Camarin, Caloocan City, Philippines
        </p>
        <p>
            Mystical Sampaguita (Elementary Building): Sampaguita St., Almar
            Subd., Camarin, Caloocan City, Philippines
        </p>
        <p>
            Mystical Do単a Helen (New Building): Camarin Road, Do単a Helen,
            Camarin, Caloocan City, Philippines
        </p>
    </div>
    <div class="pt-16">
        <h1 class="card-title astro-5Q5CFLET pb-6">Email Us!</h1>

        <div class="form-control w-full max-w-xs">
            <label id="name" class="label">
                <span class="label-text">*First name</span>
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </label>
            <input
                type="text"
                placeholder="Type here"
                class="input input-bordered w-full max-w-xs"
            />
            <label class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span>
                <span class="label-text-alt">Bottom Right label</span> -->
            </label>
        </div>
        <div class="form-control w-full max-w-xs">
            <label id="name" class="label">
                <span class="label-text">Middle name</span>
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </label>
            <input
                type="text"
                placeholder="Type here (Optional)"
                class="input input-bordered w-full max-w-xs"
            />
            <label class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span>
                <span class="label-text-alt">Bottom Right label</span> -->
            </label>
        </div>
        <div class="form-control w-full max-w-xs">
            <label id="name" class="label">
                <span class="label-text">*Last name</span>
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </label>
            <input
                type="text"
                placeholder="Type here"
                class="input input-bordered w-full max-w-xs"
            />
            <label class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span>
                <span class="label-text-alt">Bottom Right label</span> -->
            </label>
        </div>

        <div class="form-control w-full max-w-xs">
            <label id="name" class="label">
                <span class="label-text">*What is your e-mail?</span>
                <!-- <span class="label-text-alt">Top Right label</span> -->
            </label>
            <input
                type="text"
                placeholder="abc@email.com"
                class="input input-bordered w-full max-w-xs"
            />
            <label class="label">
                <!-- <span class="label-text-alt">Bottom Left label</span>
                <span class="label-text-alt">Bottom Right label</span> -->
            </label>
        </div>
        <div class="form-control">
            <label id="name" class="label">
                <span class="label-text">*To?</span>
            </label>
            <div class="input-group">
                <select class="select select-bordered">
                    <option disabled selected>Select Email</option>
                    <option>Office Email</option>
                    <option>Office of Student Affairs</option>
                    <option>LMS Technical Support</option>
                    <option>Webmaster</option>
                </select>
            </div>
        </div>
        <div class="form-control w-1/2 pb-5">
            <label class="label">
                <span class="label-text">Message</span>
            </label>
            <textarea
                class="textarea textarea-bordered h-24"
                placeholder="Type your message here..."></textarea>
        </div>

        <div class="alert w-fit text-sm pt-3">* Required field</div>
    </div>
</div>
<style>
    span {
        font-size: inherit;
        font-weight: 600;
    }
    div {
        text-align: left;
    }
    a {
        text-decoration: underline;
    }
    span {
        font-weight: 600;
    }
</style>
