<div
  class="fixed flex justify-between items-center bg-base-100 w-full z-[20] print:invisible"
>
  <div
    class="navbar bg-primary text-primary-content fixed top-0 w-full max-w-5xl mx-auto h-10"
  >
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="#idArticle">Articles</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="btn btn-ghost w-24" onclick="window.location.href='/'; ">
        <img id="logo" src="/myste.png" class="h-12 w-12" />
      </div>
      <div class="font-bold align-middle min-w-full">
        <p>Mystical Rose School of Caloocan Inc.</p>
      </div>
    </div>
    <div class="navbar-end hidden lg:flex">
      <a href="/" class="btn btn-ghost"
        ><button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path></svg
          >
        </button></a
      >

      <ul class="menu menu-horizontal px-1">
        <li><a href="#idArticle">Articles</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <!-- <div class="navbar-end">
      <a href="/" class="btn">Get started</a>
    </div> -->
  </div>
</div>

<style>
  li {
    font-weight: 600;
  }
</style>
