<div>
    <span class="font-bold text-center">Privacy Policy</span>
    <p class="py-4">
        Within the framework of the Data Privacy Act of 2012 (R.A. 10173), the
        Mystical Rose School of Caloocan, Inc. declares its commitment to the
        protection of the privacy of its stakeholders, such as students,
        faculty, non-teaching staff, and service providers, from whom it
        collects personal information in the pursuit of its legitimate interests
        and responsibilities as an academic institution.
    </p>
    <p class="py-4">
        Thus, the Institution has instituted policies and measures that will
        safeguard security and confidentiality of the personal information that
        it collects, retains and stores, and may possibly share under certain
        circumstances. These policies and measures subscribe to the provisions
        of R.A. 10173 and its implementing Rules and Regulations.
    </p>
</div>

<style>
    span {
        text-align: center;
    }
    div {
        padding-top: 25%;
        text-align: left;
        text-justify: auto;
    }
</style>
