<div>
    <span class="font-bold text-center">Privacy Policy</span>
    <p class="py-4">
        Within the framework of the <a
            class="link"
            href="https://www.privacy.gov.ph/know-your-rights/#:~:text=Under%20R.A.%2010173%2C%20your%20personal,unless%20otherwise%20provided%20by%20law."
            target="_blank">Data Privacy Act of 2012 (R.A. 10173)</a
        > , the Mystical Rose School of Caloocan, Inc. declares its commitment to
        the protection of the privacy of its stakeholders, such as students, faculty,
        non-teaching staff, and service providers, from whom it collects personal
        information in the pursuit of its legitimate interests and responsibilities
        as an academic institution.
    </p>
    <p class="py-4">
        Thus, the Institution has instituted policies and measures that will
        safeguard security and confidentiality of the personal information that
        it collects, retains and stores, and may possibly share under certain
        circumstances. These policies and measures subscribe to the provisions
        of <a
            class="link"
            href="https://www.privacy.gov.ph/know-your-rights/#:~:text=Under%20R.A.%2010173%2C%20your%20personal,unless%20otherwise%20provided%20by%20law."
            target="_blank">R.A. 10173</a
        > and its implementing Rules and Regulations.
    </p>
</div>

<style>
    span {
        text-align: center;
    }
    div {
        padding-top: 25%;
        text-align: left;
        text-justify: distribute;
    }
    a {
        text-decoration: underline;
    }
</style>
